<main id="main" class="main text-break">
  <div class="pagetitle">
    <h1>Dashboard princial</h1>
    <nav class="bg-red-500">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active">Dashboard Principal</li>
      </ol>
    </nav>
  </div>
  <section class="section dashboard">
    <div class="container-fluid !direction !spacing row">
      <div class="shadow mb-4 bg-white rounded">
        <!--CARD DONDE SE SELECCIONARAN LOS DISPOSITIVOS DE ENTRADA-->
        <!--AGREGAR PANTALLA QUE AGRENDE EL CONTENIDO DE LA PAGINA PRINCIPAL-->
        <div class="p-2">
          <div class="row">
            <p class="col mt-1">Seleccione un dispositivo de entrada</p>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-success btn-sm col-sm-1 text-center" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <i class="bx bx-plus-medical"></i>
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Dispositivos</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <table class="table ">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Dispositivo</th>
                          <th scope="col">Flujo</th>
                          <th scope="col">Status</th>
                        </tr>
                      </thead>
                      <tbody  >
                        <tr *ngFor="let device of devices" >
                          <th scope="row"><input class="form-check-input" (click)="selectDevice(device)" type="checkbox" value="" id="flexCheckDefault"></th>
                          <td>{{device.name}}</td>
                          <td>
                            <ng-template [ngIf]="device.flow" [ngIfElse]="enabledBlock2">
                              <span class="badge bg-success"> {{ device.flow.name }}</span>
                            </ng-template>
          
                            <ng-template #enabledBlock2>
                              <span class="badge bg-danger">NO FLOW</span>
                            </ng-template>
          
                          </td>
                          <td >
                            <ng-template [ngIf]="device.isActive" [ngIfElse]="enabledBlock">
                              <span class="badge bg-success">Enabled</span>
                            </ng-template>
          
                            <ng-template #enabledBlock>
                              <span class="badge bg-red-500">Disabled</span>
                            </ng-template>
          
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid !direction !spacing row">
      <div class="p-3 mb-5  bg-white rounded shadow col-4">
        <!--CARD DONDE SE SELECCIONARAN LOS DISPOSITIVOS DE ENTRADA-->
        <div class="col px-4">
          <p class="col mt-3 mb-4">Verificador del empleado</p>
          <picture>
            <img src="/assets/img/news-1.jpg" class="img-fluid rounded" alt="">
          </picture>
          <div>
            <div class="mt-4 container bg-light mh-100 d-inline-block rounded border-2 text-center">
              <figure class="figure m-5">
                Variable
              </figure>
            </div>
          </div>
        </div>
      </div>
      <!--SECCION DEL CONTENIDO DE DATOS DEL EMPLEADO-->
      <div class="col-md-auto">
      </div>

      <div class="p-3 mb-5 bg-white rounded shadow col" >
        <!--CARD DONDE SE SELECCIONARAN LOS DISPOSITIVOS DE ENTRADA-->
        <div class="px-4 mb-2" >
          <p class="mt-3 breadcrumb-item">Datos del empleado</p>
          <div class="mt-4">
            <p class="font-weight-normal">Nombre del empleado</p>
            <p class="font-weight-normal text-black fs-2">{{name}} {{lastname}}</p>
          </div>
        </div>
        <div class="px-4 mb-2 row">
          <div class="col">
            <p class="font-weight-normal">Posicion del empleado</p>
            <p class="font-weight-normal text-black fs-3">{{job}}</p>
          </div>
          <div class="col">
            <p class="font-weight-normal ">Hora de entrada y salida</p>
            <p class="font-weight-normal text-black fs-3">{{shiftin}} - {{shiftout}}</p>
          </div>
        </div>
        <div>
          <div class="rounded border mt-5">
            <div class="card-body">
              <h5 class="card-title">Registro de entrada</h5>
              <table class="table table-bordered border border-dark">
                <thead>
                  <tr>
                    <th scope="col">IN/OUT</th>
                    <th scope="col">Domingo</th>
                    <th scope="col">Lunes</th>
                    <th scope="col">Martes</th>
                    <th scope="col">Miercoles</th>
                    <th scope="col">Jueves</th>
                    <th scope="col">Viernes</th>
                    <th scope="col">Sabado</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">IN</th>
                    <td  [ngClass]="domingoin == null ? 'bg-danger' : 'bg-success'"></td>
                    <td  [ngClass]="lunesin == null ? 'bg-danger' : 'bg-success'"> </td>
                    <td [ngClass]="martesin == null ? 'bg-danger' : 'bg-success'"></td>
                    <td [ngClass]="miercolesin == null ? 'bg-danger' : 'bg-success'"></td>
                    <td [ngClass]="juevesin == null ? 'bg-danger' : 'bg-success'"></td>
                    <td [ngClass]="viernesin == null ? 'bg-danger' : 'bg-success'"></td>
                    <td  [ngClass]="sabadoin == null ? 'bg-danger' : 'bg-success'"></td>
                  </tr>
                  <tr>
                    <th scope="row">OUT</th>
                    <td  [ngClass]="domingoout == null ? 'bg-danger' : 'bg-success'"></td>
                    <td  [ngClass]="lunesout == null ? 'bg-danger' : 'bg-success'"> </td>
                    <td [ngClass]="martesout == null ? 'bg-danger' : 'bg-success'"></td>
                    <td [ngClass]="miercolesout == null ? 'bg-danger' : 'bg-success'"></td>
                    <td [ngClass]="juevesout == null ? 'bg-danger' : 'bg-success'"></td>
                    <td [ngClass]="viernesout == null ? 'bg-danger' : 'bg-success'"></td>
                    <td  [ngClass]="sabadoout == null ? 'bg-danger' : 'bg-success'"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
