
<main id="main" class="main" style="cursor: default;">
  <div class="pagetitle">
    <h1> Control Hint </h1>
    <nav >
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active"> Control Hint </li>
      </ol>
    </nav>
  </div>

  <div class="row">
    <div class="col-8 ">
      <div class="card px-3 shadow border">
        <h5 class="card-title">
          Documentos Recientes
        </h5>
        <!-- class="overflow-auto" -->
        <table class="table table-sm table-hover my-2 cursor" >
          <thead>
            <tr>
              <th scope="col"> # </th>
              <th scope="col"> Nombre </th>
              <th scope="col"> Tipo </th>
              <th scope="col"> URL </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let doc of documents" style="cursor: pointer;">
              <th [routerLink]="['/view']" [queryParams]="{id: doc.id}" scope="row"> {{ doc.id }} </th>
              <td [routerLink]="['/view']" [queryParams]="{id: doc.id}"> {{ doc.name }} </td>
              <td [routerLink]="['/view']" [queryParams]="{id: doc.id}"> {{ doc?.docType?.typeCode }} </td>
              <td>
                <a href="{{ doc?.file?.url }}" class="link-primary">Vista</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-2">
      <div class="card px-2 shadow border">
        <h5 class="card-title text-center m-0 fs-6">
          Documentos Pendientes
        </h5>
        <h1 class="text-center">
          {{ documents?.length }}
        </h1>
      </div>
    </div>

    <div class="col-2">
      <div class="card px-2 shadow border">
        <h5 class="card-title text-center m-0 fs-6">
          Total Depto.
        </h5>
        <h1 class="text-center">
          15
        </h1>
      </div>
    </div>

  </div>

  <!-- <div class="row">
    <div class="col-6">
      <div class="card px-3 shadow border">
        <h5 class="card-title text-center fs-6">
          Ganancias
        </h5>
      </div>
    </div>
    <div class="col-6">
      <div class="card px-3 shadow border">
        <h5 class="card-title text-center fs-6">
          Documentos Pendientes
        </h5>
      </div>
    </div>
  </div> -->

</main>
