<employee-modal [employee]="modalEmployee" (onCloseModal)="closeModal()"></employee-modal>
<main id="main" class="main text-break">
  <div class="pagetitle">
    <h1>Lista de empleados</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
        <li class="breadcrumb-item active">Lista de empleados</li>
      </ol>
    </nav>
  </div>
  <div> <!--AGREGAR UN RESPONSIVE A LA TABLA-->
    <div *ngIf="employees" class="container-fluid !direction !spacing ">
      <div class="row">
        <div class="col-10">
          <div class="card text-left">
            <div class="card-body">
              <h5 class="card-title">Empleados
                <div  class="d-flex float-end">
                  <button type="button" (click)="showModal(true)" class="btn btn-success px-3">
                    &#9998;
                  </button>
                </div>
              </h5>
              <div class="table-responsive"  style="height: 38rem;">
                <table class="table table-hover" >
                  <thead>
                      <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Apellidoo</th>
                        <!-- <th>Posicion</th> -->
                        <th>Turno</th>
                        <th>Activo</th>
                      </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let employee of employees" (click)="selectEmployee(employee)" role="button" tabindex="0">
                      <th>{{ employee.id}}</th>
                      <td>{{ employee.name }}</td>
                      <td>{{ employee.lastName }}</td>
                      <!-- <td *ngIf="employee.position">{{ employee.position.alias }}</td> -->
                      <td *ngIf="employee.shift">{{ employee.shift.name }}</td>
                      <td>{{ employee.status }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="col-2" *ngIf="selectedEmployee as employee">
          <div class="card">
            <picture class="m-auto p-3">
              <img src="{{ employee.image }}" class="img-fluid rounded d-block" alt="">
            </picture>
            <div class="card-body text-left row">
              <div class="col">
                <p class="fw-bold mt-2">Nombre:</p>
                <p class="card-text">
                  <span>
                    {{ employee.name }}
                  </span>
                  <span>
                    {{ employee.lastName }}
                  </span>
                </p>
                <p class="fw-bold mt-2">Estatus:</p>
                <p class="card-text">{{ employee.status }}</p>
              </div>
              <div class="col">
                <p class="fw-bold mt-2">Turno:</p>
                <p class="card-text" *ngIf="employee.shift">{{ employee.shift.name }}</p>
                <p class="fw-bold mt-2">Status:</p>
                <p class="card-text">{{ employee.status }}</p>
              </div>
              <div  class="d-grid gap-2">
                <button type="button" (click)="showModal()" class="btn btn-success mt-3">
                  &#9998;
                </button>
              </div>
            </div>
          </div>
          <div class="" *ngIf="selectedEmployee as employee">
            <div class="card text-left card-body p-3">
              <picture class="m-auto ">
                <img src="/assets/img/Una-huella-digital-puede-mostrar-si-alguien-ha-tomado-cocaína.jpg" class="img-fluid rounded d-block" alt="">
              </picture>
              <div  class="d-grid gap-2">
                <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success mt-3">
                  &#9998;
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Dispositivos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table ">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Dispositivo</th>
              <th scope="col">Flujo</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let device of devices">
              <th scope="row"><input class="form-check-input" (click)="selectDevice(device)" type="checkbox" value=""
                  id="flexCheckDefault"></th>
              <td>{{device.name}}</td>
              <td>
                <ng-template [ngIf]="device.flow" [ngIfElse]="enabledBlock2">
                  <span class="badge bg-success"> {{ device.flow.name }}</span>
                </ng-template>

                <ng-template #enabledBlock2>
                  <span class="badge bg-danger">NO FLOW</span>
                </ng-template>

              </td>
              <td>
                <ng-template [ngIf]="device.isActive" [ngIfElse]="enabledBlock">
                  <span class="badge bg-success">Enabled</span>
                </ng-template>

                <ng-template #enabledBlock>
                  <span class="badge bg-red-500">Disabled</span>
                </ng-template>

              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>
