<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
      <a routerLink="/home" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
        <span class="d-lg-block">CTL HINT</span>
      </a>
      <i (click)="sidebarToggle()" class="bi bi-list toggle-sidebar-btn"></i>
    </div>
    <div class="flex-grow-1 text-end fs-2 d-lg-block">
      <a class="link-primary p-4" style="cursor: pointer; color: #172087;" (click)="logout()"> <i class="bx bx-exit"></i> </a>
    </div>
 </header>
