
<device-modal (onDeviceAction)="addDevice($event)" [device]="deviceModal"></device-modal>
<main id="main" class="main" style="cursor: default;">
  <div class="pagetitle">
    <h1>Flujo de dipositivos </h1>
    <nav class="bg-red-500">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
        <li class="breadcrumb-item active">Flujo de dipositivos </li>
      </ol>
    </nav>
  </div>
  <section class="shadow section">
    <div class="col-12">
      <div class="card overflow-auto p-3">
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Dispositivo</th>
                <th scope="col">Model</th>
                <th scope="col">IP</th>
                <th scope="col">Flujo</th>
                <th scope="col">Señal</th>
                <th scope="col">Status</th>
                <th scope="col"> &#9863; </th>
              </tr>
            </thead>
            <tbody style="cursor: pointer;">
              <tr *ngFor="let device of devices" (click)="selectDevice(device)" >
                <th scope="row">#{{device.id}}</th>
                <td>{{device.name}}</td>
                <td>{{device.model}}</td>
                <td>{{device.ip}}</td>
                <td>
                  <ng-template [ngIf]="device.flow" [ngIfElse]="enabledBlock2">
                    <span class="badge bg-success"> {{ device.flow.name }}</span>
                  </ng-template>

                  <ng-template #enabledBlock2>
                    <span class="badge bg-danger">NO FLOW</span>
                  </ng-template>

                </td>
                <td >
                  {{ device.last_update.toLocaleString() }}
                </td>
                <td >
                  <ng-template [ngIf]="device.isActive" [ngIfElse]="enabledBlock">
                    <span class="badge bg-success">Enabled</span>
                  </ng-template>

                  <ng-template #enabledBlock>
                    <span class="badge bg-danger">Disabled</span>
                  </ng-template>

                </td>
                <td>
                  <button type="button" (click)="showModal(device)" class="btn btn-sm btn-outline-success">
                    &#9998;
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <section *ngIf="deviceView" class="shadow section">
    <div class="col-12">
      <div class="card">
        <div class="card-body p-4">
          <p class="col mb-2 text-muted fw-bold fs-5">Observando {{deviceView.name}}</p>
          <div id="device-log" class="border overflow-auto border-1 p-3 bg-light fst-italic" style="height: 200px;" >
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
